.login-box {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.Login {
  display: flex;
  flex-direction: column;
}

.login-input {
  outline: 0;
  border: 0;
  border-bottom: 1.5px solid #3C6DCC;
  width: 400px;
  margin-bottom: 1.5rem;
  font-size: 25px;
  padding: 10px;
}

.login-button {
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background: #D92373;
  color: #ffffff;
  padding: 5px;
  font-size: 25px;
  border-radius: 3px;
  margin-top: 1rem;
}

.login-header {
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: 600;
  text-align: center;
  width: 400px;

}

