.terms {
	padding-left: 100px;
	margin-left: 200px;
	margin-right: 150px;
}
.title {
	display: flex;
}
.icons-style {
	width: 60px;
}
.icons-cut {
	width: 53px;
}
.icons-dye {
	width: 50px;
}
.list {
	padding-bottom: 10px;
}
